<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#eff2f7">
<font color="black" size="10"><b>SIGNIN</b></font>
<form action="postdata" autocomplete="on" method="post" >
    <font color="black ">name:&nbsp;&nbsp;<br></font>
    <input type="text" name="name" size="40" style=""><br><br>
    <font color="black ">age:<br></font>
    <input type="text" name="age" size="40"><br><br>
    <button type="submit" value="submit">submit</button>
</form>
</body>
</html>