<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="left" style="background-color:#3b5998">
<font color="white" style="font-family:Arial Rounded MT" size="10"><b>facebook</b></font>
<div align="right">
<form>
    <font color="black " style="font-family:Imprint MT Shadow">name:</font>
    <input type="text" align="right" name="name">
    <font color="black " style="font-family:Imprint MT Shadow">password:</font>
    <input type="text" align="right" name="password"><br><br><br>
</form>
</div>
</div>
</body>
</html>