<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-image:url('{{url_for('static',filename='images/spider uni.jpg')}}');">
<p style="color:red">welcome {{uname}}</p><br><br>
    <a href="profileupd"><button>Add Account</button></a>
    <a href="profileupd"><button>Deposite</button></a>
    <a href="profileupd"><button>update prof</button></a>
    <a href="logout"><button>logout</button></a>
</div>
<p>{{message}}</p>
</body>
</html>