<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="red" style="margin:10% 20%;">
    <form action="funlog" method="post">

        <input style="padding:15px 40px;" name="username" type="text" placeholder="username"><br><br><br>
        <input style="padding:15px 40px;" name="password" type="password" placeholder="password"><br><br><br>
        <input style="padding:15px 40px;" name="submit" type="submit" value="login">
        <p>not registered??<a href="register">click</a>here</p>

    </form>
</body>
</html>