<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script>

    function fun(){

            alert('registration success');
    }

</script>
</head>
<body bgcolor="red" style="margin:10% 20%;">
    <form action="funreg" method="post">
        <input style="padding:15px 40px;" name="name" type="text" placeholder="name"><br><br>
        <input style="padding:15px 40px;" name="username" type="text" placeholder="username"><br><br><br>
        <input style="padding:15px 40px;" name="password" type="password" placeholder="password"><br><br><br>
        <input style="padding:15px 40px;" name="cpassword" type="password" placeholder="confirm password"><br><br><br>
        <input style="padding:15px 40px;" name="submit" type="submit" value="register" id="reg">


    </form>
</body>
</html>